.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diceHider {
  position: fixed;
  top: 0;
  right: 0;
  width: 84px;
  height: 84px;
  margin: calc(3rem - 2px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 0;
  transition: opacity 0.15s ease-in;
  pointer-events: none;
}

.hide {
  opacity: 0.8;
  pointer-events: all;
}

.countdown {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--black);
  opacity: 1;
  transition: color 1.5s ease-in, font-size 2s ease-in-out, opacity 2s ease-in;
}

.imminent {
  color: var(--red);
  font-size: 1.8rem;
  opacity: 0.8;
}

.CTA {
  width: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.CTA_text {
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 var(--background), 1px 1px 0 white;
}

.bounce {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-30px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

/* Custom dice */

.cubeScene {
  width: 80px;
  height: 80px;
  margin: 3rem;
  box-sizing: border-box;
  cursor: pointer;
  perspective: 200%;
}

.disabled {
  pointer-events: none;
  opacity: 0.85;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100%);
  transition: transform 0.2s linear;
}

.cube.show-1 { transform: translateZ(-40px) rotateY(   0deg); }
.cube.show-2 { transform: translateZ(-40px) rotateY( -90deg); }
.cube.show-6 { transform: translateZ(-40px) rotateY(-180deg); }
.cube.show-5 { transform: translateZ(-40px) rotateY(  90deg); }
.cube.show-3 { transform: translateZ(-40px) rotateX( -90deg); }
.cube.show-4 { transform: translateZ(-40px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--gray1);
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cube__face__1 { transform: rotateY(  0deg) translateZ(40px); }
.cube__face__2 { transform: rotateY( 90deg) translateZ(40px); }
.cube__face__6 { transform: rotateY(180deg) translateZ(40px); }
.cube__face__5 { transform: rotateY(-90deg) translateZ(40px); }
.cube__face__3 { transform: rotateX( 90deg) translateZ(40px); }
.cube__face__4 { transform: rotateX(-90deg) translateZ(40px); }

.gridContainer {
  width: 80%;
  height: 80%;
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 60%;
  height: 60%;
  border-radius: 100%;
  background-color: var(--black);
}