body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --red: #ec1b30;
  --green: #00ab4f;
  --yellow: #ffd401;
  --blue: #0173bc;
  --positionsColor: rgb(32, 32, 32);
  --blockMarkerColor: hwb(40 7% 19%);
  --highlightColor: lightgrey;
  --background: #fcc534;
  --lines: #836831;
}