body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --red: #ec1b30;
  --green: #00ab4f;
  --yellow: #ffd401;
  --blue: #0173bc;
  --positionsColor: rgb(32, 32, 32);
  --blockMarkerColor: hwb(40 7% 19%);
  --highlightColor: lightgrey;
  --background: #fcc534;
  --coverBorder: #cd4825;
  --lines: #836831;
  --gray1: #f0eae3;
  --gray2: #e2d7cb;
  --gray3: #dac8b4;
  --black: #362410;
}

.background {
  background-color: #fcc534;
  background-image: url("../public/egg-shell.png");
}

/* Colors */

.RED {
  color: var(--red);
}

.GREEN {
  color: var(--green);
}

.YELLOW {
  color: #d7b300;
}

.BLUE {
  color: var(--blue);
}

/* Buttons */

.button {
  font-family: 'Arbutus', sans-serif;
  letter-spacing: 0.1rem;
  width: 100%;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border-width: 2px;
}

.button:disabled {
  background-color: var(--gray1);
  color: var(--gray3);
  border-color: var(--gray1);
  box-shadow: none;
}

.primary {
  background-color: var(--background);
  color: var(--black);
  border-color: var(--background);
}

.primaryAlert {
  background-color: var(--coverBorder);
  color: var(--gray1);
  border-color: var(--coverBorder);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.secondary {
  background-color: var(--gray1);
  color: var(--black);
  border-color: var(--gray1);
}

.large {
  font-size: 1.5rem;
  border-width: 3px;
}

.small {
  font-size: 0.7rem;
  padding: 0.3rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-width: 1px;
}

.marginBottom {
  margin-bottom: 1rem;
}

/* Typography */

.font {
  font-family: 'Arbutus', sans-serif;
}

.text_h2 {
  margin: 1rem;
  color: var(--black);
  font-family: 'Arbutus', sans-serif;
  letter-spacing: 0.1rem;
}

.text_span_small {
  color: var(--black);
  font-size: 0.75rem;
}

.bold {
  font-weight: bold;
}