.container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  border: 1rem solid var(--coverBorder);
  overflow: hidden;
  position: relative;
}

.container_l1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.container_l2 {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-height: 75%;
  max-width: 500px;
  z-index: 1;
  box-sizing: border-box;
}

.container_l3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.container_l4 {
  overflow-y: scroll;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}

.containerEmptyState {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.bottomContainer {
  padding-top: 1rem;
  width: 100%;
}

/* Decoration */

.titleImageContainer {
  flex: 0 0 auto;
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.titleImage {
  height: 50%;
  max-height: 18vw;
  width: 100%;
  position: relative;
}

.backgroundImage {
  width: calc(100vw - 2rem);
  height: calc((100vw - 2rem)/1662*997);
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.outline {
  box-shadow: 0 0 0 -1px var(--background);
  text-shadow: -2px -2px 0 var(--background), 2px -2px 0 var(--background), -2px 2px 0 var(--background), 2px 2px 0 var(--background);
}

.description {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.5rem;
  border-width: 2px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
}

.description p {
  margin: 0;
}

.emptyText {
  text-align: center;
}

.buttonOverlay {
  width: 1rem;
  height: 1rem;
  background-color: brown;
}