.container {
  /* position: fixed;
  right: 0;
  top: calc(100vh - 150px); */
  /* width: 400px; */
  height: 150px;
  width: 100%;
  max-width: 100%;
}

/* Info */
.infoContainer {
  position: absolute;
  left: -500px;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info > * {
  vertical-align: middle;
}

.username {
  display: inline-block;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 var(--background), 1px 1px 0 white;
}

.short {
  max-width: 150px;
}

.phaseIn {
  left: 0;
}

.phaseOut {
  left: 0;
  opacity: 0;
}
