.container {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  background-color: var(--gray1);
  border-radius: 0.5rem;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player {
  width: 100%;
  height: 2rem;
  border: 1px dashed var(--gray3);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  border-style: solid;
}

.color {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 0.7rem;
  box-sizing: border-box;
  border: 0.25rem solid transparent;
}

.active {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: none;
}

.inactive {
  background-color: transparent!important;
}

.RED {
  background-color: var(--red);
  border-color: var(--red);
}

.GREEN {
  background-color: var(--green);
  border-color: var(--green);
}

.YELLOW {
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.BLUE {
  background-color: var(--blue);
  border-color: var(--blue);
}

.highlightPlayerName {
  font-weight: bold;
}

.placeholderColor {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 0.7rem;
  background-color: var(--gray3);
}

.placeholderText {
  margin-left: 1rem;
  color: var(--gray3);
}

.userName {
  border: 0px solid transparent!important;
}

.usernameInput {
  border: none;
  width: 50%;
}

.usernameContainer {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.otherPlayer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.subTitle {
  color: var(--gray3);
}

.lobbyId {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--coverBorder);
}

.onlineStatus {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  background-color: var(--red);
  margin-left: 0.25rem;
}

.online {
  display: none;
}

.settings {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .settings {
    flex-direction: column;
  }
}

.settingsModeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.settingsCooldownContainer {
  width: 130px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.hidden {
  opacity: 0.25;
  pointer-events: none;
}