.container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-left-style: solid;  
  border-left-color: var(--red);
  border-left-width: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.username {
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 var(--background), 1px 1px 0 white;
}

.gameState {
  all: unset;
  margin-left: 0.5rem;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.online {
  border-left-color: var(--green);
  border-left-width: 0.25rem;
  padding-left: 0.75rem;
}