.default {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--positionsColor);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  user-select: none;
}

.default div {
  position: absolute;
}

.default div p {
  font-size: small;
  color: red;
}

.highlightMovePosition {
  border: 0.25rem dashed var(--gray3);
  transition: all 0.15s ease-in-out;
}

.highlightMovePosition:hover {
  background-color: var(--gray3);
  border-color: var(--lines);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .highlightMovePosition {
    border: 0.1rem dashed var(--gray3);
  }
}

.BLOCK_MARKER {
  background-color: var(--blockMarkerColor);
}

.FINISH {
  background-color: transparent;
}

.RED {
  background-color: var(--red);
  border: 3px solid white;
}

.GREEN {
  background-color: var(--green);
  border: 3px solid black;
}

.YELLOW {
  background-color: var(--yellow);
  border: 3px solid black;
}

.BLUE {
  background-color: var(--blue);
  border: 3px solid white;
}